<form action="/new" method="POST">
    <input type="text" name="fullname" placeholder="Write your fullname" />
    <input type="text" name="email" placeholder="Write your email" />
    <input type="text" name="phone" placeholder="Write your phone" />
    <input type="text" name="cédula" placeholder="Write your cedula" />
    <input type="text" name="parking_number" placeholder="Write your parking_number" />
    <input type="text" name="vehicle_type" placeholder="Write your vehicle_type" />
    <button>Save</button>
</form>