<form action="/update/{{consult.id}}" method="POST">
    <input type="text" name="fullname" placeholder="Write your fullname" value="{{consult.fullname}}" />
    <input type="text" name="email" placeholder="Write your email" value="{{consult.email}}" />
    <input type="text" name="phone" placeholder="Write your phone" value="{{consult.phone}}" />
    <input type="text" name="cedula" placeholder="Write your cedula" value="{{consult.cedula}}" />
    <input type="text" name="parking_number" placeholder="Write your parking number" value="{{consult.parking_number}}" />
    <input type="text" name="vehicle_type" placeholder="Write your vehicle type" value="{{consult.vehicle_type}}" />
    <input type="text" name="apartment" placeholder="Write your apartment" value="{{consult.apartment}}" />
    <button>Save</button>
</form>